<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">

<body style=padding-top:50px;>
        <nav  class="navbar navbar-small fixed-top navbar-dark bg-primary">
            <a class="text-white" href="/">Ana Sayfa</a>
            <div>
            <a href="/login" class="btn btn-success btn-small active" role="button" aria-pressed="true">Giriş</a>
            <a href="/login/signup" class="btn btn-info btn-small active" role="button" aria-pressed="true">Kayıt</a>

            </div>
        </nav>
  
        
        <%- body %>

        <footer class="footer">
            <p>&copy; 2019 NodeJS App</p>
        </footer>

        <script type="text/javascript" src="/public/js/jquery-3.4.0.min.js"> </script>        
        <script type="text/javascript" src="/public/js/bootstrap.min.js"> </script>

</body>
</html>