 <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Kayıt Sayfası</div>
                    <div class="card-body">
                        <form action="/login/signup " method="POST">
                            <!--  ad   -->
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Ad</label>
                                <div class="col-md-6">
                                    <input type="text" id="ad" class="form-control" name="ad" required autofocus placeholder="Ad">
                                </div>
                            </div>
                            <!--  soyad   -->
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Soyad</label>
                                <div class="col-md-6">
                                    <input type="text" id="soyad" class="form-control" name="soyad" required autofocus placeholder="Soyad">
                                </div>
                            </div>
                            <!--  email   -->
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">E Mail</label>
                                <div class="col-md-6">
                                    <input type="email" id="email" class="form-control" name="email" required autofocus placeholder="E Mail">
                                </div>
                            </div>
                            <!--  kullaniciadi   -->
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Kullanıcı Adı</label>
                                <div class="col-md-6">
                                    <input type="text" id="kullaniciadi" class="form-control" name="kullaniciadi" required autofocus placeholder="Kullanıcı Adı">
                                </div>
                            </div>
                            <!--  sifre   -->
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right" >Şifre</label>
                                <div class="col-md-6">
                                    <input type="password" id="sifre" class="form-control" name="sifre" required placeholder="Şifre">
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <input type="submit" class="btn btn-primary" value="Kayıt Ol">
                                <a href="/login" class="btn btn-default">Giriş Yap</a>
                                
                            </div>
                    </form>
                </div>
            </div>
        </div>
 
    </div>
    </div>